/*-----リンク-----*/
.my1 a {color:#000000}
.my1 a:vlink {color:#000000}
.my1 a {text-decoration: none;}
.my1 a:hover { text-decoration:underline dotted; }

.my2 a {color:#000000}
.my2 a:vlink {color:#000000}
.my2 a {text-decoration: none;}
.my2 a:hover {background-color:#a9a9a9;}

/*-----20191206-----*/
.iroiro-box {
max-width: 40%;
height: auto;
margin: 0 auto;
padding: 0;
line-height:20px;
position:relative;
}
.on-1 img {
    position: absolute;
    top: 0;
    right: 0;
  }  

/*-----20191206-----*/
.95-box {
max-width: 95%;
height: auto;
margin: 0 auto;
padding: 0;
}

.img-1 img {
width:180px; height:160px;
object-fit:none;
object-position:0% 10%;
 }   
.img-2 img {
width:70px; height:60px;
object-fit:none;
object-position:67% 26%;
}
