.my6 { font-size: large;
color: #cccccc;
}
.centerBox{
  border: 0;
  width: 65%;
  height: 100vh;
  text-align: center; 
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(250, 235, 205, 0.85);
}
h01 {
  padding: 0.5em;/*文字周りの余白*/
  color: #A52A2A;/*文字色*/
  font-size: 80%;
  background: #ECDE99;/*背景色*/
  border-left: solid 8px #A52A2A;/*左線（実線 太さ 色）*/
}
