.my6 { font-size: large;
color: #cccccc;
}
.centerBox{
  border: 0;
  width: 65%;
  height: 100vh;
  text-align: center; 
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(250, 235, 205, 0.85);
}
.box-in{
  padding: 1em 1em;
  margin-left: auto;
  width: 280px;
  color: #474747;
  background: #ECDE99;/*背景色*/
  border-left: double 18px #A52A2A;
  font-size: x-small;
    
}
.box-in p {
    margin: 0; 
    padding: 0;
}

.iroiro-box {
max-width: 45%;
height: auto;
border: 0
margin: 2px 2px 4px 0px;
padding: 1%;
font-size: 70%;
line-height:20px;
float:left; 
position:relative;
}
.on-1 {
  color:#003333;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 80%;
    width: 45px;
    height: 45px;
    line-height:20px;
    padding: 8px;
    margin-right: auto;
  }  
