.my5 { font-size: xx-small;
  color: #ff6347;
}
.huki {
  position: relative;
  margin: 0em 0 2em 108px;
  padding: 15px;
  background: #C8D0D6;
  border-radius: 30px;
  box-shadow:2px 2px 2px #F2F3E5;
}
.huki:before {  
  content: "";
  position: absolute;

  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 45px;
  background: #C8D0D6;
  border-radius: 50%;
  box-shadow:2px 2px 2px #F2F3E5;
}

.huki:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 55px;
  background: #C8D0D6;
  border-radius: 50%;
  box-shadow:2px 2px 2px #F2F3E5;
}
.huki p {
  margin: 0; 
  padding: 0;
}
