/*-----吹き出し◎-----*/
.balloon1 {
  width: 98%;
  margin: 0.5em 0;
  overflow: hidden;
}

.balloon1 .faceicon {
  float: left;
  margin-right: -90px;
  margin: 1em 0;
  width: 70px;
}

.balloon1 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 4px #001E43;
  border-radius: 50%;
  box-shadow:2px 2px 2px #666B7A;
    margin: 18px 0 2em 1px;
}

.balloon1 .chatting {
  width: 100%;
}

.huki {
  position: relative;
  margin: 0em 0 2em 108px;
  padding: 15px;
  background: #cccccc;
  border-radius: 30px;
}
.huki:before {  
  content: "";
  position: absolute;

  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 45px;
  background: #cccccc;
  border-radius: 50%;
  box-shadow:2px 2px 2px #666B7A;
}

.huki:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 55px;
  background: #cccccc;
  border-radius: 50%;
  box-shadow:2px 2px 2px #666B7A;
}
.huki p {
  margin: 0; 
  padding: 0;
  line-height: 18px;
}
/*-----カード風------*/

.item01 {
flex-basis:30%;
}
.item02 {
flex-basis:70%;
padding: 0 8px;
word-wrap: break-word;
line-height: 20px;
font-size: 0.8em;
}
/*-----配置-----*/
img.name1 {
width:80px; height:80px;
object-fit:none;
object-position:20% 5%;
}
img.name2 {
width:80px; height:80px;
object-fit:none;
object-position:80% 10%;
}
img.name3 {
width:80px; height:80px;
object-fit:none;
object-position:85% 20%;
}
img.name4 {
width:80px; height:80px;
object-fit:none;
object-position:25% 20%;
}
img.name5 {
width:80px; height:80px;
object-fit:none;
object-position:90% 5%;
}
img.name6 {
width:80px; height:80px;
object-fit:none;
object-position:100% 30%;
}
img.name7 {
width:80px; height:80px;
object-fit:none;
object-position:20% 40%;
}
img.name8 {
width:80px; height:80px;
object-fit:none;
object-position:70% 5%;
}
img.name9 {
width:80px; height:80px;
object-fit:none;
object-position:70% 10%;
}
img.name10 {
width:80px; height:80px;
object-fit:none;
object-position:60% 15%;
}
img.name11 {
width:80px; height:80px;
object-fit:none;
object-position:50% 10%;
}

/*-----配置-----*/
/*-----見出し-----*/
.midashi {
  padding: 0.5em;
  margin-left: auto;
  width: 250px;
  color: #474747;
  background: url(https://cdn-ak.f.st-hatena.com/images/fotolife/t/talk_away/20200517/20200517183659.png) no-repeat left center;
padding-left: 30px;
border-bottom: dotted 3px #214A69;
} 
